body {
  font-size: 22px;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 22px;
  page-break-before: always;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 22px;
  margin-bottom: 0px;
  margin-top: -2px;
}

span[input] {
  background-color: #fff0e0;
  padding: 0 0.2em;
  word-break: break-all;
  cursor: text;
  white-space: pre-wrap;
}

span[input] > span[comment], span[commented] > span[comment] {
  color: #ee7f63;
}

span[input][contenteditable] {
  background-color: transparent;
}

span[input][contenteditable]:not([empty])::after {
  content: ' ';
  display: inline-block;
  width: 0;
}

span[input][empty]::after {
  content: attr(p);
  color: #a0a0a0;
}

span[button] {
  cursor: pointer;
  background-color: #e0e0e0;
  border: 1px solid #404040;
  margin: -1px 0;
  padding: 0 0.2em;
  transition: background-color 0.15s;
  user-select: none;
}

span[button]:hover {
  background-color: #c0c0c0;
}

span[button]:active {
  background-color: #b0b0b0;
}

.options-add-input + span[button] {
  margin-left: 0.2em;
}

.options-add-input:empty + span[button] {
  display: none;
}

input[type=checkbox]:indeterminate + span {
  text-decoration: line-through;
  color: #a0a0a0;
}

ul {
  margin: 0;
  padding-left: 1.45em;
  white-space: pre-wrap;
}

ul[w] {
  padding-left: 0;
  list-style-type: none;
}
ul[w] > li {
  display: flex;
}

span[select] {
  background-color: #fff0e0;
  cursor: pointer;
  padding-left: 0.2em;
  word-break: break-all;
}
span[select]::after {
  line-height: 0;
}
span[select][custom] {
  padding-left: 0;
}
span[select][custom] > span[input] {
  cursor: text;
  padding-right: 1em;
}
span[select][custom]::after {
  margin-left: -1em;
}
span[select]::after {
  content: '▿';
  padding: 0 0.2em;
  color: #a0a0a0;
}
span[select][popup] > span {
  white-space: pre-wrap;
}
span[select][popup] > div {
  position: absolute;
  background: white;
  border: 1px solid #404040;
  margin: -1px;
}
span[select][popup] > div > div {
  white-space: pre-wrap;
  transition: background-color 0.15s;
  padding: 0 0.2em;
  border-top: 1px solid #e0e0e0;
}
span[select][popup] > div > div:first-child {
  border-top: none;
}
span[select][popup] > div > div::before {
  line-height: 0;
  content: '▹';
  padding-right: 0.2em;
  visibility: hidden;
}
span[select][popup] > div > div[popup] {
  background-color: #e0e0e0;
}
span[select][popup] > div > div[selected]::before {
  visibility: visible;
  color: #a0a0a0;
}

[options-line] > ul:not([w]), [options-line] > ul:not([w]) > li {
  padding-left: 0;
  display: inline;
}

span[group-skip-empty]::before { content: '[['; }
span[group-skip-empty]::after { content: ']]'; }
span[group-skip-empty]::before, span[group-skip-empty]::after { color: #e0e0e0; }
span[group-skip-empty][skip]::before, span[group-skip-empty][skip]::after { color: #ee7f63; }

@media not print {
  button[preview] { display: initial; }
}

@media print {
  [--media-print] { display: none; }
  span[group-skip-empty]::before, span[group-skip-empty]::after { content: unset; }
  span[group-skip-empty][skip] { display: none; }
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 24px;
    margin-bottom: -8px;
    margin-top: -8px;
  }
  h3 {
    font-size: 18px;
    margin-bottom: -2px;
    margin-top: -2px;
  }
  h4 {
    font-size: 18px;
  }
  span[input] > span[comment], span[commented] > span[comment] {
    display: none;
  }
  ul[w] {
    list-style-type: unset;
    padding-left: 1.45em;
  }
  ul[w] > li {
    display: list-item;
  }
  ul[w] > li > span > span[input] {
    padding: 0;
  }
  [options-line] > ul, [options-line] > ul > li:not([u]) {
    padding-left: 0;
    display: inline;
  }
  [options-empty],
  button,
  span[button],
  input[type=checkbox],
  ul[w] + div > span[input],
  ul > li[u],
  span[select]::after {
    display: none;
  }
  span[input], span[select] { background: none; }
  span[input]:empty::after {
    color: red;
  }
}
